<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>TP04 Maranon Mateo</title>
</head>
<body>
	<div>
		<div>
			<div class="title">
				<h1>Liga de Futbol Profesional</h1>
			</div>
			<div>
				<nav class="nav">
					<a class="nav-link" th:href="@{inicio}" href="#">Home</a> 
					<a class="nav-link" th:href="@{fixture}" href="fixture.html">Fixture</a>
					<a class="nav-link" th:href="@{equipos}" href="equipos.html">Equipos</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="titulosec"><h2>Noticias</h2></div>
				<div class="card-deck">
					<div class="card col-3">
						<img th:src="@{/img/img1.jpg}" src="../static/img/img1.jpg" class="card-img" alt="logoFI">
						<div class="card-body">
							<h3>Card title</h3>
							<p>This is a longer card with supporting
								text below as a natural lead-in to additional content. This
								content is a little bit longer.</p>							
						</div>
					</div>
					<div class="card col-3">
						<img th:src="@{/img/img1.jpg}" src="../static/img/img1.jpg" class="card-img" alt="logoFI">
						<div class="card-body">
							<h3 class="card-title">Card title</h3>
							<p class="card-text">This card has supporting text below as a
								natural lead-in to additional content.</p>							
						</div>
					</div>
					<div class="card col-3">
						<img th:src="@{/img/img1.jpg}" src="../static/img/img1.jpg" class="card-img" alt="logoFI">
						<div class="card-body">
							<h3 class="card-title">Card title</h3>
							<p class="card-text">This is a wider card with supporting
								text below as a natural lead-in to additional content. This card
								has even longer content than the first to show that equal height
								action.</p>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="titulosec"><h3>Auspiciantes</h3></div>
				<div>Anuncios</div>
			</div>
		</div>

		<div class="contact"><h2>Contacto</h2></div>
	</div>
</body>
</html>